basename: "{{ basename }}"
title: "{{ basename | title | replace('-', ' ') | replace('_', ' ') }}"
description: "Initial draft of {{ title }}."
date: "{{ now }}"
path: "{{ relative_path }}"
domain: "{{ domain }}"
category: "{{ category }}"
locale: "{{ locale }}"
dc_subject: "Documentation, Process Design"
dc_description: "Draft sketch of {{ title }} under SAT standards."
author: "Christopher Steel"
license: "CC BY-SA 4.0"
sitemap: "true"
# canonical: "{{ base_url }}/{{ path }}"<-commented out, as desired
